@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Instrument+Serif:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B0B0B;
    color: #FAF9F9;
    font-family: arial;
    background-image: url(./image/bg-luz.png);
    background-repeat: no-repeat;
}

main {
    margin: 100px 100px;
    display: flex;
    flex-direction: column;
}


        /*NAV SECTION*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav { 
    display: flex;
    gap: 32px;
    align-items: center;
}

.button-primary {
    border-radius: 100px;
    background-image: linear-gradient(90deg, #E27821 0%, #F09510 50%, #FFB200 100%);
    padding: 12px 16px;
    font-size: 20px;
    color: #0B0B0B;
    outline: none;
    border: none;
}

.button-primary:hover {
    background-image: linear-gradient(90deg, #EE6B00 0%, #D37D00 50%, #C48900 100%);
}

nav a {
    text-decoration: none;
    color: #FAF9F9;
    font-size: 24px;
}

nav a:hover {
    font-size: 25px;
}


        /*HERO SECTION*/
section.hero-section {
    width: 100%;
    height: 510px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
}

section.hero-section .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
}

section.hero-section .title h1{
    font-family: "Instrument Serif", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 220px;
    line-height: 180px;
    letter-spacing: 8px;
}

section.hero-section .title h3 {
    font-weight: normal;
    font-size: 49px;
    letter-spacing: 11px;
}


        /*APRESENTATION SECTION*/
.apresentation {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.apresentation h3, .about h3, .services h3, .projects h3 {
    font-family: "Instrument Serif", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 60px;
    margin-top: 100px;
}

.apresentation p {
    font-size: 32px;
    margin: 32px 64px;
    line-height: 120%;
}

.button-secondary {
    border-radius: 100px;
    background-color: #0B0B0B;
    padding: 12px 16px;
    font-size: 20px;
    color: #E27821;
    outline: none;
    border: 1px solid #E27821;
    width: 378px;
    align-self: center;
}

.button-secondary:hover {
    background-color: #171616;
}

        /*ABOUT SECTION*/
.about {
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 32px 64px;
}

.img-button {
    display: flex;
    flex-direction: column;
    height: 520px;
    justify-content: space-between;
}

.content-p {
    height: 520px;
    font-size: 32px;
    line-height: 120%;
    padding-left: 32px;
}

.text {
    padding-bottom: 32px;
}

.about .ponto-de-luz {
    position: absolute;
    z-index: -1;
    margin-top: 120px;
    margin-left: 120px;
}


        /*SERVICES SECTION*/
.content-cards {
    display: flex;
    margin: 32px 64px;
    justify-content: space-between;
}

.card {
    width: 30%;
    height: 260px;
    border: 1px solid #faf9f944;
    border-radius: 16px;
    padding: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./image/ponto-luz-bg.png);
    background-size: cover;
    background-position: 4px 32px;
    &:hover {
        background-color:#05050573;
    }
}

.card h5 {
    font-size: 32px;
    margin-bottom: 16px;
}

.card p {
    font-size: 20px;
}

.card .card-ponto-de-luz {
    position: absolute;
    z-index: -1;
    margin-top: 50%;
    width: 500px;
    overflow: hidden;
}

        /*PROJECTS SECTION*/
.projects-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 64px;
    flex-wrap: wrap;
    background-image: url(./image/ponto-luz-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 25%;
}

.cards {
    width: 48%;
    height: auto;
    border: 1px solid #faf9f944;
    border: 1px solid #faf9f944;
    border-radius: 16px;
    padding: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
        background-color:#05050573;
    }
}

.cards .cards-img {
    width: 300px;
    padding-bottom: 32px;
    margin-right: 5%;
}

.card-title {
    display: flex;
    border: 1px solid #faf9f944;
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #faf9f944;
    border-radius: 16px;
    width: 100%;
}

.card-title h5 {
    font-size: 24px;
}