@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Instrument+Serif:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B0B0B;
    color: #FAF9F9;
    font-family: arial;
    background-image: url(./image/bg-luz.png);
    background-repeat: no-repeat;
}

main {
    margin: 100px 100px;
    display: flex;
    flex-direction: column;
}

.point-sections {
    width: 24px;
    @media (min-width: 769px) and (max-width: 1199px) {
        width: 32px;
    }
    @media (min-width: 426px) and (max-width: 768px) {
        width: 20px;
    }
    @media (min-width: 426px) and (max-width: 768px) {
        display: none;
    }
}

        /*NAV SECTION*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav { 
    display: flex;
    gap: 32px;
    align-items: center;
}

.button-primary {
    border-radius: 100px;
    background-image: linear-gradient(90deg, #E27821 0%, #F09510 50%, #FFB200 100%);
    padding: 12px 16px;
    font-size: 20px;
    color: #0B0B0B;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        background-image: linear-gradient(90deg, #EE6B00 0%, #D37D00 50%, #C48900 100%);
        transform: translateY(-2px);
        box-shadow: 0 5px 17px  #f0961048;
    }
}

nav a {
    text-decoration: none;
    color: #FAF9F9;
    font-size: 24px;
    @media (min-width: 1px) and (max-width: 425px) {
        display: none;
    }
}

nav a:hover {
    font-size: 25px;
}


        /*HERO SECTION*/
section.hero-section {
    width: 100%;
    height: 510px;
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    position: relative;
    @media (min-width: 769px) and (max-width: 1199px) {
        height: 410px;
    }
    @media (min-width: 426px) and (max-width: 768px) {
        height: 510px;
        flex-direction: column;
    }
    @media (max-width: 425px) {
        height: 510px;
        flex-direction: column;
        width: 400px;
    }
}

section.hero-section .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
}

section.hero-section .title h1{
    font-family: "Instrument Serif", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 100px;
    line-height: 120px;
    letter-spacing: 8px;
    @media (min-width: 1200px) and (max-width: 1440px) {
        font-size: 140px;
        line-height: 160px;
    }
    @media (min-width: 769px) and (max-width: 1199px) {
        font-size: 96px;
        line-height: 90px;
    }
    @media (min-width: 426px) and (max-width: 768px) {
        font-size: 80px;
        line-height: 90px;
    }
    @media (max-width: 425px) {
        font-size: 54px;
        line-height: 50px;
    }
}

.hero-img-bg {
    @media (min-width: 769px) and (max-width: 1199px) {
        width: 424px;
        height: 390px;
    }
    @media (min-width: 426px) and (max-width: 768px) {
        width: 424px;
        height: 390px;
    }
    @media (min-width: 1px) and (max-width: 425px) {
        width: 424px;
        height: 390px;
    }
}

section.hero-section .title h3 {
    font-weight: normal;
    font-size: 32px;
    letter-spacing: 11px;
    @media (min-width: 1200px) and (max-width: 1440px) {
        font-size: 24px;
    }
    @media (min-width: 769px) and (max-width: 1199px) {
        font-size: 20px;
        letter-spacing: 7px;
    }
    @media (min-width: 426px) and (max-width: 768px) {
        font-size: 20px;
        letter-spacing: 5px;
    }
    @media (max-width: 425px) {
        font-size: 18px;
        letter-spacing: 2px;
    }
}

.point {
    width: 16px;
    @media (min-width: 769px) and (max-width: 1199px) {
        width: 20px;
    }
    @media (min-width: 426px) and (max-width: 768px) {
        width: 16px;
    }
    @media (max-width: 425px) {
        width: 12px;
    }
}

        /*APRESENTATION SECTION*/
.apresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 425px) {
        width: 410px;
    }
}

.apresentation h3 {
    font-family: "Instrument Serif", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 32px;
    letter-spacing: 1px;
    @media (min-width: 1200px) and (max-width: 1440px) {
        font-size: 48px;
    }
    @media (min-width: 769px) and (max-width: 1199px) {
        font-size: 40px;
    }
    @media (min-width: 426px) and (max-width: 768px) {
        font-size: 32px;
    }
    @media (max-width: 425px) {
        font-size: 40px;
    }
}

.apresentation p {
    font-size: 18px;
    margin: 12px 64px;
    line-height: 120%;
    letter-spacing: 1px;
    @media (min-width: 1200px) and (max-width: 1440px) {
        font-size: 24px;
    }
    @media (min-width: 769px) and (max-width: 1199px) {
        font-size: 20px;
    }
    @media (min-width: 426px) and (max-width: 768px) {
        font-size: 16px;
    }
    @media (max-width: 425px) {
        font-size: 20px;
        margin: 32px 0;
    }
}

.project-content {
    margin-bottom: 100px;
}

.project-content a {
    color: #FAF9F9;
}